/* Extension layout tokens */
:root {
    /* popup dimensions */
    --extension-width: 350px;
    --extension-height: 600px;

    /* popup inset padding */
    --extension-padding: 12px;

    /* frame inset padding */
    --frame-padding: 12px;

    /* Typography */
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Spacing */
    --gap-xs: 2px;
    --gap-sm: 4px;
    --gap-md: 8px;
    --gap-l: 12px;
    --gap-xl: 14px;

    /* Radius */
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-l: 12px;
    --radius-xl: 14px;
    --radius-circle: 50%;
}